<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>table</title>
    </head>
    <body>
        <table align="center">
            <tr>
                {% for header in heading %}
            <th>{{header}}</th>
                {% endfor %}
            </tr>
        {% for row in data %}
            <tr>
        {% for item in row %}
            <td>{{item}}</td>
        {% endfor %}
        </tr>
        {% endfor %}
        </table>
        <input type="file" id="csvFileInput" style="padding-bottom: 15px">
        <table id="csvRoot"></table>
    
    </body>


    